In [73]:
import re
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [6]:
# Global settings
sample_size = 1000

In [82]:
# Convert string to number
def string_to_number(value):
    n = re.sub(r"[,-]", "", value)
    return float(n) if n else None # 'None' will be used to identify missing values
# Conver string to date
def string_to_date(value):
    return datetime.strptime(value, '%b %d, %Y')

In [88]:
btc_price = pd.read_csv("../data/bitcoin_price.csv")
btc_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1655 entries, 0 to 1654
Data columns (total 7 columns):
Date          1655 non-null object
Open          1655 non-null float64
High          1655 non-null float64
Low           1655 non-null float64
Close         1655 non-null float64
Volume        1655 non-null object
Market Cap    1655 non-null object
dtypes: float64(4), object(3)
memory usage: 90.6+ KB

In [89]:
# 'Volume' and 'Maket Cap' should be converted
parse_cols_number = ["Volume", "Market Cap"]
for col in parse_cols:
    btc_price[col] = btc_price[col].apply(lambda x: string_to_number(x))
# Date Parser
btc_price.Date = btc_price.Date.apply(lambda x: string_to_date(x))

In [92]:
print ("Shape = ", btc_price.shape)
btc_price.describe()

Shape =  (1655, 7)

,Open,High,Low,Close,Volume,Market Cap
count,1655.000000,1655.000000,1655.000000,1655.000000,1.412000e+03,1.655000e+03
mean,822.136127,845.812665,800.640906,826.285541,2.783246e+08,1.272435e+10
std,1108.245793,1147.157863,1077.408893,1119.053510,6.014815e+08,1.860357e+10
min,68.500000,74.560000,65.530000,68.430000,2.857830e+06,7.792550e+08
25%,263.850000,270.070000,260.030000,264.135000,2.163132e+07,3.754615e+09
50%,453.380000,458.200000,444.960000,453.380000,5.042405e+07,6.547850e+09
75%,743.485000,759.425000,731.785000,744.820000,1.220485e+08,1.061010e+10
max,7404.520000,7617.480000,7333.190000,7407.410000,4.653770e+09,1.233880e+11